div.featuredContainer {
  min-height: 50vh;
  display: flex;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2.featuredText {
  font-size: 4rem;
  color: white;
}
