.navheader h1 {
  font: 3rem "PT Serif", Times New Roman, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 2rem;
}

.navheader {
  background-color: #250217;
  color: #F0EFEB;
  padding: 2.5rem 0 .5rem;
}

span.small {
  font-size: 1.5rem;
  margin-left: 1rem;
}

div.navLinkBar {
  margin: 1em auto;
  text-align: center;
}

a.nav_link {
  color: #EDDCD2;
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 2rem;
}

a:hover.nav_link  {
  color: #F0EFEB;
}
